.contact_head {
  padding-top: 100px;
}
form.needs-validation {
  max-width: 900px;
  margin: auto;
}
form.needs-validation input,
form.needs-validation select,
form.needs-validation textarea {
  background-color: var(--light--);
  border-radius: 20px;
}
form.needs-validation .col-sm-6,
form.needs-validation .col-12 {
  margin-top: 15px;
  padding: 0 5px;
}
.anotherW {
  margin-top: 100px;
  padding: 50px 0;
}
.anotherW .w {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 1rem;
  background-image: linear-gradient(to top, var(--ycolor--), #f2b935b7), url("https://i.postimg.cc/C5BgJm84/sidebar-bg.jpg");
  background-size: cover;
  max-width: 300px;
  margin: auto;
}
.anotherW .w img {
  width: 60%;
  margin: auto;
  filter: invert(80%) sepia(2%) saturate(0%) hue-rotate(100deg) brightness(100%) contrast(94%);
  transition: 0.5s;
  animation: floating 5s infinite;
}
.w:hover .w_img {
  filter: none;
}
@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, -0px);
  }
}
.anotherW .w .info .social {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.anotherW .w .info .social a {
  position: relative;
  width: fit-content;
  height: fit-content;
  padding: 1.3rem;
  border-radius: 50%;
}
.anotherW .w .info .social a i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 767px) {
  .anotherW .w img {
    filter: none;
  }
}
