:root {
  --ycolor--: #f2ba35;
}
.absolute {
  position: absolute;
  width: 20vw;
  min-width: 50px;
  aspect-ratio: 1/1;
  background-image: linear-gradient(
    45deg,
    var(--ycolor--),
    var(--ycolor--),
    #ffff00
  );
}
/* .ab-one{
  z-index: -1;
  top: 105vh;
  right: 20px;
  width: 15vw;
  border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
}
.ab-one img{
  width: 100%;
} */
.ab-two {
  top: 20px;
  left: 10px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.ab-three {
  top: 96%;
  left: 98%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.5;
  z-index: 10;
  display: none;
}
.disablescroll {
  height: 100vh;
  overflow: hidden;
}

/* ////////////////////////////////// start navbar /////////////////////////////////// */

.header-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #fff;
  z-index: 3;
}
.navbar-brand {
  width: 20%;
  max-width: 200px;
  min-width: 100px;
}
.navbar-brand img {
  width: 80%;
}
.nav-link {
  color: rgba(255, 255, 255, 0.9);
  transition: 0.3s;
}
.nav-link:hover,
.nav-link:focus,
.active .nav-link {
  color: #fff;
  transform: scale(1.05);
}
.navbar-toggler {
  color: #fff;
}
.navbar-toggler:focus {
  box-shadow: none;
  outline: none;
}
.dropdown-menu {
  margin-bottom: 10px;
}
.dropdown-menu li {
  width: 80%;
  margin: 5px auto;
  padding: 10px;
  background: #f4f6f8;
  border-radius: 10px;
  transition: 0.3s;
}
.dropdown-menu li:hover {
  background: #ddd;
}
.dropdown-menu li a {
  padding: 0;
}
.dropdown-menu li a:hover {
  background-color: transparent;
}

/* ///////////////////////////////// end navbar //////////////////////////////////////// */

/* ///////////////////////////////// start header //////////////////////////////////////// */

.cover {
  height: 100vh;
  overflow: hidden;
}
video#id_video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.head-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  z-index: 2;
  text-align: center;
}
.head-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-color: #000;
}
.counter {
  color: var(--ycolor--);
}
/* ///////////////////////////////// end header //////////////////////////////////////// */

/* ///////////////////////////////// start work with us //////////////////////////////////////// */
.wwu {
  display: flex;
  flex-direction: row-reverse;
  margin: 50px 0;
}
.wwu-image {
  width: 50%;
}
.wwu-image img {
  width: 100%;
}
@media (max-width: 767px) {
  .wwu {
    flex-direction: column;
  }
  .wwu-image {
    width: 100%;
  }
  .wwu-image img {
    width: 70%;
  }
}
/* ///////////////////////////////// end work with us ////////////////////////////////// */

/* ////////////////////////////////// start services /////////////////////////////////// */
#services {
  position: relative;
  overflow: hidden;
}
.serves-circle {
  width: 60%;
  max-width: 200px;
  aspect-ratio: 1/1;
  padding: 3px;
}
.serves-circle img {
  width: 100%;
  aspect-ratio: 1/1;
}
.service .btn-link {
  color: #000;
  background-color: var(--ycolor--);
}
.service .btn-link:hover{
  box-shadow: 0 0 10px -2px rgba(0,0,0,.4);
}
/* ////////////////////////////////// end services /////////////////////////////////// */

/* //////////////////////////////// start testimonials ////////////////////// */

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.testimonials .testmo {
  border-radius: 10px;
  padding: 1rem;
}
@media (max-width: 767px) {
  .testimonials {
    grid-template-columns: 1fr;
  }
}

/* //////////////////////////////// end testimonials ////////////////////// */

/* //////////////////////////////// start footer ////////////////////// */

.footer-logo {
  text-align: center;
}
.footer-logo img {
  width: 70%;
  margin-bottom: 20px;
}
.cop {
  text-align: center;
  border-top: 1px solid #ccc;
  padding: 20px 0;
}
.media {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 0;
}
.media li {
  font-size: 20px;
  margin: 0 10px;
  list-style: none;
}

/* ////////////////////////////// end footer //////////////////////////////// */
