:root {
  --ycolor--: #f2ba35;
  --secondary--: #343a40;
  --light--: #f2f2f2
}
.section{
  position: relative;
  overflow: hidden;
}
.bd{
  border: 2px solid var(--ycolor--);
}
.absolute {
  position: absolute;
  width: 20vw;
  min-width: 50px;
  aspect-ratio: 1/1;
  z-index: 1;
  background-image: linear-gradient(
    45deg,
    var(--ycolor--),
    var(--ycolor--),
    #ffff00
  );
}
.ab-two {
  top: 20px;
  left: 10px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.ab-three {
  top: 96%;
  left: 98%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.5;
  z-index: 10;
  display: none;
}
.disablescroll {
  height: 100vh;
  overflow: hidden;
}

/* ////////////////////////////////// start navbar /////////////////////////////////// */

nav{
  width: 100vw;
  z-index: 20;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px 0 20px;
}
@media (max-width:767px) {
  nav{
    padding: 0 20px;
  }
}
nav .logo{
  width: 20%;
  max-width: 150px;
  min-width: 50px;
}
nav .logo img{
  width: 100%;
}
nav .social-media{
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
nav .social-media .share_icon{
  display: flex;
  padding: 15px;
  color: var(--ycolor--);
  border: 2px solid;
  border-radius: 50%;
  width: fit-content;
  font-size: 20px;
}
nav .social-media a{
  background-color: var(--ycolor--);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-decoration: none;
  position: relative;
  transition: 0.5s;
  color: var(--secondary--);
  transform: translate(700%, 0);
  opacity: 0;

}
nav .social-media a:hover{
  background-color: var(--secondary--);
  color: var(--ycolor--);
}
nav .social-media a i{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
nav .social-media .csm{
  display: flex;
  gap: 10px;
  transition: 1s;
  overflow: hidden;
}
nav .social-media a.show_social_media_a{
  transform: translate(0, 0);
  opacity: 1;
}

/* ///////////////////////////////// end navbar //////////////////////////////////////// */

/* ///////////////////////////////// start sidebar //////////////////////////////////////// */

aside{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 30px;
  color: var(--light--);
  background-color: var(--secondary--);
  z-index: 20;
  transform: translateX(-100%);
  transition: 0.5s;
}
aside .openbar{
  position: absolute;
  right: -30px;
  top: 50%;
  display: grid;
  place-content: center;
  color: var(--secondary--);
  background-color: var(--light--);
  width: 30px;
  height: 60px;
  cursor: pointer;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
aside .closebar{
  position: absolute;
  left: 10px;
  top: 50%;
  font-size: clamp(30px,2vw,40px);
  color: var(--light--);
  cursor: pointer;
}
aside .content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.open_aside{
  transform: translateX(0);
}
aside .content .head{
  justify-content: space-between;
}
aside .aside_info .logo{
  width: 100%;
}
aside .aside_info .logo img{
  width: 70%;
  margin: auto;
  filter: drop-shadow(0px 0px 3px var(--ycolor--));
}
aside .aside_info .head-word{
  font-size: clamp(20px,3vw,40px);
  font-weight: bold;
  max-width: 550px;
}
aside .aside_info > a{
  border: 2px solid;
  color: var(--ycolor--);
  margin: 30px 0;
}
aside .aside_info .media{
  width: fit-content;
  display: flex;
  gap: 10px;
  margin-bottom: 20px
}
aside .aside_info .media a{
  display: grid;
  place-content: center;
  text-decoration: none;
  color: var(--ycolor--);
  border: 2px solid;
  padding: 10px;
  border-radius: 50%;
  transition: 0.3s;
}
aside .aside_info .media a:hover{
  color: var(--secondary--);
  background-color: var(--ycolor--);
}

aside .aside_info a:hover{
  background-color: var(--ycolor--);
  color: var(--secondary--);
}
aside .aside_links ul li{
  list-style: none;
  font-size: clamp(30px,5vw,50px);
  font-weight: bold;
  white-space: nowrap;
  transition: transform 0.3s;
}
aside .aside_links ul li i{
  color: var(--ycolor--);
}
aside .aside_links ul li:hover{
  transform: scale(1.1);
  color: var(--light--);
}
aside .aside_links ul li a{
  color: var(--light--);
  text-decoration: none;
}
aside .aside_links ul li a:hover{
  color: var(--ycolor--)
}
aside .aside_footer{
  padding: 20px;
  border-top: 2px solid var(--ycolor--);
}
aside .aside_footer span{
  font-size: clamp(12px , 1.5vw , 16px);
  color: #ccc;
}
@media (max-width:767px) {
  aside .closebar{
    left: auto;
    right: 20px;
    top: 10px;
  }
  aside .content .head{
    height: 100%;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-evenly;
  }
  aside .aside_info{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  aside .aside_info .head-word{
    line-height: 1.5rem;
  }
  aside .aside_info > a{
    margin: 15px 0;
  }
  aside .aside_footer{
    padding: 10px 0;
  }
  aside .aside_footer h5{
    margin-bottom: 5px;
  }
  aside .aside_footer .address{
    margin-top: 20px;
  }
}
/* ///////////////////////////////// end sidebat //////////////////////////////////////// */

/* ///////////////////////////////// start header //////////////////////////////////////// */

.cover {
  height: 100vh;
  overflow: hidden;
}
video#id_video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.head-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  z-index: 2;
  text-align: center;
}
.head-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-color: #000;
}
.counter {
  color: var(--ycolor--);
}
/* ///////////////////////////////// end header //////////////////////////////////////// */

/* ///////////////////////////////// start work with us //////////////////////////////////////// */

.wwu {
  display: flex;
  flex-direction: row-reverse;
  margin: 50px 0;
}
.wwu-image {
  width: 50%;
}
.wwu-image img {
  width: 100%;
}
@media (max-width: 767px) {
  .wwu {
    flex-direction: column;
  }
  .wwu-image {
    width: 100%;
  }
  .wwu-image img {
    width: 70%;
  }
}
/* ///////////////////////////////// end work with us ////////////////////////////////// */

/* ////////////////////////////////// start services /////////////////////////////////// */

#services {
  position: relative;
  overflow: hidden;
}
.serves-circle {
  width: 60%;
  max-width: 200px;
  aspect-ratio: 1/1;
  padding: 3px;
}
.serves-circle img {
  width: 100%;
  aspect-ratio: 1/1;
}
.service .btn-link {
  color: #000;
  background-color: var(--ycolor--);
}
.service .btn-link:hover{
  box-shadow: 0 0 10px -2px rgba(0,0,0,.4);
}

/* ////////////////////////////////// end services /////////////////////////////////// */

/* //////////////////////////////// start testimonials ////////////////////// */

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.testimonials .testmo {
  border-radius: 10px;
  padding: 1rem;
  border: 2px solid #f2ba35;
}
@media (max-width: 767px) {
  .testimonials {
    grid-template-columns: 1fr;
  }
}

/* //////////////////////////////// end testimonials ////////////////////// */

/* //////////////////////////////// start form popup ////////////////////// */

.form-popup-container{
  position: fixed;
  z-index: 20;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  display: none;
  place-content: center;
}
.form-popup-container .form-popup-overlay{
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.form-popup-container .form-popup{
  border-radius: 15px;
  padding: 1rem;
  position: relative;
  z-index: 2;
  width: 90%;
  margin: auto;
  max-width: 700px;
}
.form-popup-container .form-popup .cansel-form-popup{
  position: absolute;
  width: fit-content;
  right: 10px;
  top: -30px;
  padding: 13px;
  border: none;
  background-color: transparent;
  font-size: 20px;
}


/* //////////////////////////////// end form popup ////////////////////// */

/* //////////////////////////////// start footer ////////////////////// */

.footer-logo {
  text-align: center;
}
.footer-logo img {
  width: 70%;
  margin-bottom: 20px;
}
.cop {
  text-align: center;
  border-top: 1px solid #ccc;
  padding: 20px 0;
}
.media {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 0;
}
.media li {
  font-size: 20px;
  margin: 0 10px;
  list-style: none;
}

/* ////////////////////////////// end footer //////////////////////////////// */
