/* start header */
#banner{
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  background-size: cover;
  overflow: hidden;
}
#banner .layout{
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(126deg , #fff ,#f4f6f8 , transparent);
  z-index: 2;
}
#banner .container{
  z-index: 3;
}
#banner > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
}
#banner .show{
  transition: 1s;
  animation: scalebg 10s infinite;
  opacity: 1;
}
@keyframes scalebg {
  0%{
    transform: scale(1);
  }
  100%{
    transform: scale(1.1);
  }
}
#dd{
  position: relative;
}
#dd .dd{
  position: absolute;
  opacity: 0;
  white-space: nowrap;
  transition: 1s;
  top: 50px;
  text-transform: uppercase;
  font-size: clamp(18px , 2vw , 25px);
}
#dd .change{
  position: relative;
  opacity: 1;
  top: 0;
}

/* end header */

/* .web-letter{
  position: relative;
  overflow: hidden;
}
.web-letter .container{
  z-index: 2;
}
.ul-plan{
  flex-wrap: nowrap;
}
.features .absolute{
  z-index: -1;
} */
.drop{
  display: none;
}
@media (max-width:767px) {
  .disk{
    display: none;
  }
  .drop{
    display: block;
  }
}
/*////////////////////////////////////////*/

.drop {
  max-width : 400px; 
  /* background: #d9d9d9; */
  margin : 40px auto; 
}

.drop label{
  width: 100%;
  background-color: #f3be32;
  padding: 20px 0;
  border-radius: 35px;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.drop label i{
  font-size: 30px;
}

/* .drop span {
  padding : 30px;
  background : #2d2f31; 
  color : white;
  font-size : 1.2em;
  font-variant : small-caps;
  cursor : pointer;
  display: block;
} */


.drop .slide {
  clear:both;
  width:100%;
  height:0px;
  margin: 0;
  padding: 10px 15px;
  overflow: hidden;
  text-align: center;
  transition: height .4s ease;
  border-radius: 1.5rem;
  margin-top: 10px;
}

.drop .slide li {
  padding : 10px 0;
  width: 100%;
  list-style: none;
}
.drop .slide li a{
  width: 100%;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
  background-image: linear-gradient(45deg, #f3be32, yellow);
}
.drop .slide li a:hover{
  background-image: linear-gradient(45deg, #f3be32, #f3be32, yellow);
}

#touch {position: absolute; opacity: 0; height: 0px;}    

#touch:checked + .slide {
  height: 550px;
  background-color: #f4f6f8;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
} 
#touch:checked + .fa-angle-down {transform: rotate(180deg);} 
/*////////////////////////////////////////*/
.features li{
  border: 2px solid #f2ba35;
  display: inline-block;
  list-style: none;
  background-color: #f4f6f8;
  border-radius: 10px;
  margin: 10px;
  width: 100%;
  text-align: left;
  padding: 10px 15px;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}
.features li i{
  color: green;
  margin-right: 5px;
}
@media (max-width:767px) {
  .features li{
    margin: 10px 0;
  }
}
/*.plan .tab-content{
  background-color: #fff;
} */