:root {
  --ycolor--: #f2ba35;
  --secondary--: #3d052e;
  --light--: #f2f2f2
}
/* ////////////////////// start header ///////////////////////// */

header {
  display: flex;
  align-items: center;
  position: relative;
  min-height: 100vh;
  background-image: linear-gradient( #f2b9356e ,var(--ycolor--)) , url(../images/sidebar-bg.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  overflow: hidden;
}
header .container{
  display: flex;
  align-items: center;
  height: 100%;
}
header img{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(200% , -50%);
  height: 120%;
  filter: drop-shadow(0px -21px 29px rgba(0, 0, 0, 0.8));
  transition: 1.5s;
}
.hello {
  position: relative;
  z-index: 2;
  max-width: 600px ;
  color: var(--light--);
}
.z-ani{
  transform: translate(50% , -50%) !important;
}

/* ////////////////////// end header ///////////////////////// */
.card {
  border-radius: 1rem;
  padding: 20px;
  background-color: var(--secondary--);
  color: var(--light--);
}
.card .img-container {
  border-radius: 1rem;
  overflow: hidden;
  aspect-ratio: 2/1;
}
.card .img-container img {
  border-radius: 1rem;
  aspect-ratio: 2/1;
  -o-object-fit: cover;
    object-fit: cover;
}
.card .card-body{
  padding: 0;
  padding-top: 20px;
}
@media (max-width:767px) {
  .card{
    padding: 10px;
  }
}
